
{% load static %}

{% block contant %}

<head><link rel="icon" href="{% static 'website/images/favicon.png' %}"><link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'website/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'website/css/templatemo-softy-pinko.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/mycss.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/my_css.css' %}">
    <link rel="stylesheet" href="{% static 'website/js/MyJs.js' %}">
</head>


<header><!-- Just an image -->
    <!-- As a link -->
 <nav class="navbar navbar-light bg-light">
     <div class="container-fluid">
       <a class="navbar-brand" href="{%url 'home'%}"><i><img style="margin-top: 10%;" src="{% static 'website/images/logo9.png' %}" alt=""></i></a>
     </div>
   </nav>
   
   
 </header>


<section>
  <form action="{%url 'Booking'%}">{% csrf_token %} 
    <div class="titl"style="margin: auto;"><h1 class="selectc">Pick A Service</h1></div>
    <div class=" ">
        
        
        <div class="box-image container row">
        
                <div class="imagebox"><div class="rap"><input name=" Donation_Estiment" value="storage" id="donationcheckbox" type="checkbox" src=""><label for="donationcheckbox"><img src="{% static 'website/images/donation4.png'%}
                    " alt=""></label><p class="pgi">Donation</p></div></div>
                <div class="imagebox"><div class="rap"><input name="Home_Move_Estiment" id="warehousecheckbox" type="checkbox" src=""><label for="warehousecheckbox"><img src="{% static 'website/images/warehouse.png'%}
                    " alt=""></label><p class="pgi">Home Move</p></div></div>
                <div class="imagebox"><div class="rap"><input name="Storage_Estiment" id="homecheckbox" type="checkbox" src=""><label for="homecheckbox"><img src="{% static 'website/images/home34.png'%}
                    " alt=""></label><p class="pgi">Storage</p></div></div>
                <div class="imagebox"><div class="rap"><input name="Junk_Estiment" id="brokencheckbox" type="checkbox" src=""><label for="brokencheckbox"><img src="{% static 'website/images/broken.png'%}
                    " alt=""></label><p class="pgi">Junk Removal</p></div></div>
                <div class="imagebox"><div class="rap"><input name="Pickups_Estiment" id="storecheckbox" type="checkbox" src=""><label for="storecheckbox"><img src="{% static 'website/images/price-tags1.png'%}
                    " alt=""></label><p class="pgi">Store Pickups</p></div></div>
                <div class="imagebox"><div class="rap"><input name="Craiglist_Estiment" id="craiglistcheckbox" type="checkbox" src=""><label for="craiglistcheckbox"><img src="{% static 'website/images/handshake.png'%}" alt=""></label><p class="pgi">Craiglist deal</p></div></div>

                
            
        </div>
        
        
            
    
        
    

    </div>
    <div class="titl" style="margin: auto;"><h1 class="selectc">What Kind of Truck?</h1></div>
    <div><div class="box-image container row">
        <div class="imagebox"><div class="rap"><input class="imgheight" name="pickup" id="pickupcheck" type="checkbox" src=""><label for="pickupcheck"><img src="{% static 'website/images/pickup.png'%}" alt=""></label><p class="pgi"><b>Pickup-truck</b></p><br><li class="pgi">$24.99</li><br><p class="pgi">$.99/miles</p><br><p style="font-size:2.1vh;">Small Loads/Single Item</p></div></div>
        <div class="imagebox"><div class="rap"><input class="imgheight" name="ten_truck" id="tcheck" type="checkbox" src=""><label for="tcheck"><img class="imgheight" src="{% static 'website/images/truck100.png'%}
            " alt=""></label><p class="pgi">10ft Uhaul truck</p><br><li class="pgi">$39.99</li><br><p class="pgi">$2.99/miles</p><br><p style="font-size:2.1vh;">One Bedroom Apt</p></div></div>
        <div class="imagebox"><div class="rap"><input class="imgheight" name="fifteen_truck" id="fc" type="checkbox" src=""><label for="fc"><img class="imgheight" src="{% static 'website/images/truck155.png'%}
            " alt=""></label><p class="pgi"><b> 15ft Uhaul truck</b></p><br><li class="pgi">$49.99</li><br><p class="pgi">$2.99/miles</p><br><p style="font-size:2.1vh;">One Bedroom Home</p></div></div>
        <div class="imagebox"><div class="rap"><input class="imgheight" name="seventeen_truck" id="sc" type="checkbox" src=""><label for="sc"><img class="imgheight" src="{% static 'website/images/truck17.png'%}
            " alt=""></label><p class="pgi"><b> 17ft Uhaul truck</b></p><br><li class="pgi">$149.99</li><br><p class="pgi">$3.99/miles</p><br><p style="font-size:2.1vh;">Two Bedroom Home</p></div></div>
        <div class="imagebox"><div class="rap"><input class="imgheight" name="twenty_truck" id="tc" type="checkbox" src=""><label for="tc"><img class="imgheight" src="{% static 'website/images/truck20.png'%}
            " alt=""></label><p class="pgi"><b> 20ft Uhaul truck</b></p><br><li class="pgi">$249.99</li><br><p class="pgi">$4.99/miles</p><br><p style="font-size:2.1vh;">Three Bedroom home</p></div></div>
            <div class="imagebox"><div class="rap"><input class="imgheight" name="twenty_six__truck" id="tsc" type="checkbox" src=""><label for="tsc"><img class="imgheight" src="{% static 'website/images/truck26.png'%}
                " alt=""></label><p class="pgi"><b> 26ft Uhaul truck</b></p><br><li class="pgi">$449.99</li><br><p class="pgi">$4.99/miles</p><br><p style="font-size:2.1vh;">Four Bedroom home</p></div></div>
        

        
    
</div></div>
<div class="titl" style="margin: auto;"><h1 class="selectc">Crew</h1></div>
<div><div class="box-image container row">
    
    <div class="imagebox"><div class="rap"><input  value="1" name="one_people" id="one_people" type="checkbox" src=""><label for="one_people"><img src="{% static 'website/images/oneperson.png'%}
        " alt=""></label><p class="pgi">One Helper</p></div></div>
    <div class="imagebox"><div class="rap"><input name="two_people" id="two_people" type="checkbox" src=""><label for="two_people"><img src="{% static 'website/images/twoperson.png'%}
        " alt=""></label><p class="pgi">Two Helpers</p></div></div>
        
        
    

</div></div>
<div id="myDiv"><button type="submit" class="next">Next</button></div>
</form></form>



     





</div>



</section>















{%endblock%}