{% extends 'base.html' %}
{% load static %}

{% block contant %}



    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        {% if message %}
                        
                        
                        <div class="alert alert-success" role="alert">
                            <h4  class="form-head alert-heading"><b> Thank you, {{ name }}</b>.</h4>
                            <p>We'll be with you soon.</p>
                            
                            
                        <!-- <form class="row g-3 needs-validation" novalidate action="{% url 'home'%}">
                            {% csrf_token %}
                            <div class="col-md-4">
                              <label for="validationCustom01" class="form-label">Name</label>
                              <input name="Name_Booked" type="text" class=" AS form-control" id="validationCustom01" value="{{name}}" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="validationCustom02" class="form-label">Pick-up-address</label>
                              <input name="Pick_up"type="text" class=" AS form-control" id="validationCustom02" value="" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="validationCustomUsername" class="form-label">Drop-off</label>
                              <div class="input-group has-validation">
                                
                                <input name="Drop_off" type="text" class="AS form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                  Please put drop off.
                                </div>
                              </div>
                            </div>
                            
                            <div class="col-md-3">
                              <label for="validationCustom04" class="form-label">Time</label>
                              <div class="form-group">
                                <input name="Time"class="AS form-control" type="time" required>
                                
                            </div>
                              <div class="invalid-feedback">
                                Please select a valid time.
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="validationCustom03" class="form-label">Pick-update</label>
                                    <input name="Date" class="AS form-control" type="date" required>
                                    <span class="form-label"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group city">

                                    <label for="validationCustom03" class="form-label">City</label>
                                  <select name="City" class="AS form-control city ">
                                    <option selected>- - -</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                                  
                                </div>
                              </div>
                              <div class="col-12">
                                <button class="btn EB" type="submit"><b class="purple"> Book</b></button>
                              </div>
                            </div>
                            
                            
                          </form>
                          
                        
                        
                    
                        
                             -->
                          </div>
                          {% elif time %}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Thank You For Choosing Lug Haul!</h4>
    <h5>We will have {{crew}} equipt with a {{truck}} at {{time}} on {{date}} for your {{service}}.</h5>
    <hr>
    <p class="mb-0"></p>
  </div>
                        {% else %}
                        <h1>Move Anything<strong>Right Now.</strong></h1>

                        <!-- <a href="#contact-us" class="main-button-slider"><b>Get Estiment</b></a> -->
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                       <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <a href="tel:+2144302034" class="Top_cards"><img src="{% static 'website/images/phone-call2.png' %}" alt=""></a>
                                </div>
                                <h5 class="features-title">Call</h5>
                                <p>Call Us Anytime Day or Night.</p>
                                <h6><b> 214-430-2034</b></h6>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <a href="#contact-us" class="Top_cards_email"><img src="{% static 'website/images/Mail2.png' %}" alt=""></a>
                                </div>
                                <h5 class="features-title">eMail</h5>
                                <p>
                                Email Us For questions or bookings. Were happy too help.
                                </p>
                                <h6><b> lug.n.haul@gmail.com</b></h6>




                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <a href="#contact-us" class="Top_cards_email"><img src="{% static 'website/images/conection2.png' %}" alt=""></a>
                                </div>
                                <h5 class="features-title">Online</h5>
                                <p>Book Anytime, Night or Day.

                                </p>
                                <p><b>click icon</b></p>

                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Features Big Item Start ***** -->

    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{% static 'website/images/left-image.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Lug-n-Haul</h2>
                    </div>
                    <div class="left-text">
                        <p>We strive to make your move simple as possible. Thats why we have set prices.</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Save Your Back</h2>
                    </div>
                    <div class="left-text">
                        <p>Two vetted movers will do your heavy lifting for you.</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="{% static 'website/images/right-image.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- <section class=" mini" id="work-process">
        <div class="service-page mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1></h1>
                            <p></p>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">

                        <a method="" href="{% url 'house'%}" class="mini-box">
                            <i><img src="{% static 'website/images/home.png' %}" alt=""></i>
                            <strong>Home</strong>
                            <span>need help moving your home?</span>
                        </a>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                        <form action="{% url 'Delivery'%}"></form>
                        <a  href="{% url 'Delivery'%}" class="mini-box" name="">
                            <i><img src="{% static 'website/images/tag.png' %}" alt=""></i>
                            <strong>Delivery</strong>
                            <span>we will assist you in your pick up!</span>
                        </a></form>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">


                        <a href="{% url 'donation'%}" class="mini-box">
                            <i><img src="{% static 'website/images/donation.png' %}" alt=""></i>
                            <strong>Donations</strong>
                            <span>Things youd like to donate?Were on it!</span>
                        </a>


                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">

                        <a href="{% url 'Storage'%}" class="mini-box">
                            <i><img src="{% static 'website/images/storage.png' %} " alt=""></i>
                            <strong>Storage</strong>
                            <span>Lets get your things out that storage!</span>
                        </a>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">

                        <a href="{% url 'junk'%}" class="mini-box">
                            <i><img src="{% static 'website/images/broke.png' %}" alt=""></i>
                            <strong>Junk</strong>
                            <span>Any junk you got? Its owers now.</span>
                        </a>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">

                        <a href="{% url 'craiglist'%}" class="mini-box">
                            <i><img src="{% static 'website/images/hand-shake.png' %}" alt=""></i>
                            <strong>Craiglist</strong>
                            <span>Buy or sell. With the conforts of your home.</span>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </section> -->































    <!-- ***** Home Parallax Start -->
    <section class=" mini" id="work-process">
        <div class="service-page mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1>We provide...</h1>
                            <p></p>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">

                        <a method="" href="{%url 'Estiment'%}" class="mini-box">
                            <i><img src="{% static 'website/images/home.png' %}" alt=""></i>
                            <strong>Home</strong>
                            <span>need help moving your home?</span>
                        </a>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">

                        <a  href="{%url 'Estiment'%}" class="mini-box" >
                            <i><img src="{% static 'website/images/tag.png' %}" alt=""></i>
                            <strong>Delivery</strong>
                            <span>we will assist you in your pick up!</span>
                        </a>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">


                        <a href="{%url 'Estiment'%}" class="mini-box">
                            <i><img src="{% static 'website/images/donation.png' %}" alt=""></i>
                            <strong>Donations</strong>
                            <span>Things youd like to donate?Were on it!</span>
                        </a>


                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">

                        <a href="{%url 'Estiment'%}" class="mini-box">
                            <i><img src="{% static 'website/images/storage.png' %} " alt=""></i>
                            <strong>Storage</strong>
                            <span>Lets get your things out that storage!</span>
                        </a>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">

                        <a href="{%url 'Estiment'%}" class="mini-box">
                            <i><img src="{% static 'website/images/broke.png' %}" alt=""></i>
                            <strong>Junk</strong>
                            <span>Any junk you got? Its owers now.</span>
                        </a>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">

                        <a href="{%url 'Estiment'%}" class="mini-box">
                            <i><img src="{% static 'website/images/hand-shake.png' %}" alt=""></i>
                            <strong>Craiglist</strong>
                            <span>Buy or sell. With the conforts of your home.</span>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </section> 
    <!-- <form action=""> -->
    <!--<section class="mini" id="Cities">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1>Cities we serve moving  <b>to or from</b>! </h1>
                            <p></p>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-6">

                        <a href="#pricing-plans" class="mini-box">
                            <i><img src="{% static 'website/images/texas.png'%}" alt=""></i>
                            <strong>Dallas–Fort Worth metroplex</strong>
                            <span></span>
                        </a>

                    </div>
                    
                    
                </div>

            </div>
        </div>
    </section>-->






   <!-- Home Parallax End ***** -->

    <!-- ***** Testimonials Start -->
    <!--<form class="HELPER" action=""method="post">
    <section class="section colored" id="pricing-plans">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title"></h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                                          </div>
                </div>
            </div>


            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Sum Help</h3>
                            <p></p>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency"><i><img src="{%static 'website/images/pick-up-truck.png'%}" alt=""></i></span>
                                <span class="price"></span>
                                <span class="period"></span>
                            </div>
                            <ul class="list">
                                <li class="active"><b> For one person help:</b></li>
                                <li class="active">$29.00</li>
                                <li class="active">$0.99 labor min</li>
                                <li class="active"><b> Two person help:</b></li>
                                <li class="active">$39</li>
                                <li class="active">$1.99 per labor min</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <!-- <a href="#" class="main-button">Select</a> 
                        </div>
                    </div>
                </div>



                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                    <div class="pricing-item active">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Small U-Haul</h3>
                            <p>10-17 ft</p>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency"><i><img src="{%static 'website/images/lorry.png'%}" alt=""></i></span>
                                <span class="price"></span>
                                <span class="period"></span>
                            </div>
                            <ul class="list">
                                <li class="active"><b>Moving +100/miles:</b></li>
                                <li class="active">$100 </li>
                                <li class="active">$3/mile</li>
                                <li class="active"><b>Moving within 100/miles:</b></li>
                                <li class="active">$300</li>
                                <li class="active">$5/mile:</li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <!-- <a href="#" class="main-button">Select</a> 
                        </div>
                    </div>
                </div>



                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Large U-Haul </h3>
                            <p>20-26 ft</p>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency"><i><img src="{%static 'website/images/truck.png'%}" alt=""></i></span>
                                <span class="price"></span>
                                <span class="period"></span>
                            </div>
                            <ul class="list">
                                <li class="active"></li>
                                <li class="active"><b> Any move +100/miles:</b></li>
                                <li class="active">$200</li>
                                <li class="active">$5/mile</li>
                                <li class="active"><b> Moves within 100/miles:</b></li>
                                <li class="active">$500</li>
                                <li class="active">$5/mile</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                             <a href="#" class="main-button">Select</a> 
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">A Whole lot</h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency"><i><img src="{%static 'website/images/large-uhaul.png'%}" alt=""></i></span>
                                <span class="price"></span>
                                <span class="period"></span>
                            </div>
                            <ul class="list">
                                <li class="active">250 GB space</li>
                                <li class="active">5000 GB transfer</li>
                                <li class="active">Pro Design Panel</li>
                                <li class="active">15-minute support</li>
                                <li class="active">Unlimited Emails</li>
                                <li class="active">24/7 Security</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="main-button">Select</a>
                        </div>
                    </div>
                </div> -->

           <!-- </div>
        </div>
    </section>
</form>-->



    <!-- ***** Counter Parallax End ***** -->

    <!-- ***** Blog Start
    <section class="section" id="blog">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Blog Entries</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="{% static 'website/images/blog-item-01.png' %}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Vivamus ac vehicula dui</a>
                            </h3>
                            <div class="text">
                               Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue.
                            </div>
                            <a href="#" class="main-button">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="{% static 'website/images/blog-item-02.png' %}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Phasellus convallis augue</a>
                            </h3>
                            <div class="text">
                                Aliquam commodo ornare nisl, et scelerisque nisl dignissim ac. Vestibulum finibus urna ut velit venenatis, vel ultrices sapien mattis.
                            </div>
                            <a href="#" class="main-button">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="{% static 'website/images/blog-item-03.png' %}" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Nam gravida purus non</a>
                            </h3>
                            <div class="text">
                                Maecenas eu erat vitae dui convallis consequat vel gravida nulla. Vestibulum finibus euismod odio, ut tempus enim varius eu.
                            </div>
                            <a href="#" class="main-button">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <--Blog End ***** -->
    <!--<section class="services-sec" id="work-process" style="margin: auto;">
        <h1 style="text-align: center;color: rgb(129, 129, 129);"></h1>
        <form  method="POST" action="{% url 'Estiment' %}"> 
            {% csrf_token %} 
<div class=" row" style="margin: 50px 50px 50px 50px;">
            <div class="col-lg-3 col-md-6  ">
                <div class="card" style="width: 16rem ;margin:7vh;border-radius: 5vh;">
                                                
                    <input value="storage" style="padding-top: 17px;" id="" class="card-img card-img-top" name='Storage'type="image"src="{% static 'website/images/ware1.png'%}">
                    <div style="padding-top:30px;text-align: center;padding-bottom: 30px;"class="">
                        <p style="font-size: 3.3vh;" class="labi">Storage</p>
                    <p class="content-card card-text">Need help moving out your old storage?</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  ">
                <div class="card" style="width: 16rem ;margin:7vh;border-radius: 5vh;">
                                                
                    <input value="home" style="padding-top: 17px;" id="" class="card-img card-img-top" name='Home_Move'type="image"src="{% static 'website/images/home3.png'%}">
                    <div style="padding-top:30px;text-align: center;padding-bottom: 30px;"class="">
                        <p style="font-size: 3.3vh;"class="labi">Home Move</p>
                    <p class="content-card card-text">Moving out? Well provide as much help as you need.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  ">
                <div class="card" style="width: 16rem ;margin:7vh;border-radius: 5vh;">
                                                
                    <input value="donation" style="padding-top: 17px;" id="" class="card-img card-img-top" name='Donation'type="image"src="{% static 'website/images/donation2.png'%}">
                    <div style="padding-top:30px;text-align: center;padding-bottom: 30px;"class="">
                        <p style="font-size: 3.3vh;">Donation</p>
                    <p class="content-card card-text">Got things youd like to give? Handling donations is a favorite.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  ">
                <div class="card" style="width: 16rem ;margin:7vh;border-radius: 5vh;">
                                                
                    <input value="junk" style="padding-top: 17px;" id="" class="card-img card-img-top" name='Junk'type="image"src="{% static 'website/images/computer.png'%}">
                    <div style="padding-top:30px;text-align: center;padding-bottom: 30px;"class="">
                        <p style="font-size: 3.3vh;" class="labi">Junk-Removal</p>
                        <p class="content-card card-text">Let two of are strong movers handle your heavy lifting!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  ">
                <div class="card" style="width: 16rem ;margin:7vh;border-radius: 5vh;">
                                                
                    <input value="pickups" style="padding-top: 17px;" id="" class="card-img card-img-top" name='Pickups'type="image"src="{% static 'website/images/price-tags.png'%}">
                    <div style="padding-top:30px;text-align: center;padding-bottom: 30px;"class="">
                        <p style="font-size: 3.3vh;" class="labi">Store Pick-Ups</p>
                        <p>Ordered more than you can carry? Let us handle it.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  ">
                <div class="card" style="width: 16rem ;margin:7vh;border-radius: 5vh;">
                                                
                    <input value="craiglist" style="padding-top: 17px;" id="" class="card-img card-img-top" name='Craiglist'type="image"src="{% static 'website/images/hand-shake2.png'%}" style="">
                    <div style="padding-top:30px;text-align: center;padding-bottom: 30px;"class="">
                        <p style="font-size: 3.3vh;" class="labi">We'll Do The Deal</p>
                        <p>Craiglist. Buy and sell in the conforts of your home</p>
                    </div>
                </div>
            </div>
            
        
        </div>
        
        
</div>
        </form>-->
            
        <!-- <div class="container row " style="margin: auto;">
            
            
            
                
                    <form class="Estiment_form" method="POST" action="{% url 'home' %}"> 
                        {% csrf_token %}          
                        <div class="col-lg-4 col-md-6 col-sm-12 card" style="width:36rem;margin: 25px;border-radius: 5vh;">    
                    <input style="padding-top: 17px;" id="" class="card-img card-img-top" name='Storage'type="image"src="{% static 'website/images/ware1.png'%}">
                
                    <div style="padding-top:30px;text-align: center;padding-bottom: 30px;"class="">
                        <p style="font-size: 3.3vh;" class="labi">Storage</p>
                    <p class="content-card card-text">Need help moving out your old storage?</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6  card" style="width: 36rem ;margin: 25px;border-radius: 5vh;">
                                                
                    <input style="padding-top: 17px;" id="" class="card-img card-img-top" name='Home_Move'type="image"src="{% static 'website/images/home3.png'%}">
                    <div style="padding-top:30px;text-align: center;padding-bottom: 30px;"class="">
                        <p style="font-size: 3.3vh;"class="labi">Home Move</p>
                    <p class="content-card card-text">Moving out? Well provide as much help as you need.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6  card" style="width: 36rem ;margin: 25px;border-radius: 5vh;">
                                                
                    <input style="padding-top: 17px;" id="" class="card-img card-img-top" name='Donation'type="image"src="{% static 'website/images/donation2.png'%}">
                    <div style="padding-top:30px;text-align: center;padding-bottom: 25px;"class="">
                        <p style="font-size: 3.3vh;">Donation</p>
                    <p class="content-card card-text">Lets get your things donated.</p>
                    </div>
                </div>
                <div class="col-lg-1 col-md-6  ">
                <div class="card" style="width: 16rem ;margin: 25px;border-radius: 5vh;">
                                                
                    <input style="padding-top: 17px;" id="" class="card-img card-img-top" name='Junk'type="image"src="{% static 'website/images/computer.png'%}">
                    <div style="padding-top:30px;text-align: center;padding-bottom: 30px;"class="">
                        <p style="font-size: 3.3vh;" class="labi">Junk-Removal</p>
                    <p class="content-card card-text">Let two of are strong movers handle your heavy lifting!</p>
                    </div>
                </div>
            </div>
                <div class="col-lg-4 col-md-6  card" style="width: 36rem ;margin: 25px;border-radius: 5vh;">
                                                
                    <input style="padding-top: 17px;" id="" class="card-img card-img-top" name='Pickups'type="image"src="{% static 'website/images/price-tags.png'%}">
                    <div style="padding-top:30px;text-align: center;padding-bottom: 30px;"class="">
                        <p style="font-size: 3.3vh;" class="labi">Store Pick-Ups</p>
                        <p>Ordered more than you can carry? Let us handle it.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6  card" style="width: 36rem ;margin: 25px;border-radius: 5vh;">
                                                
                        <input style="padding-top: 17px;" id="" class="card-img card-img-top" name='Craiglist'type="image"src="{% static 'website/images/hand-shake2.png'%}" style="">
                    <div style="padding-top:30px;text-align: center;padding-bottom: 25px;"class="">
                        <p style="font-size: 3.3vh;" class="labi">We'll Do The Deal</p>
                        <p>Craiglist. Buy and sell in the conforts of your home</p>
                    </div>
                
                </div>
            </form>
        </div> -->
    </section>
    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title"></h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">Hello,</h5>
                    <div class="contact-text">
                        
                        <p>send us info
                        <br>we will be with you within minutes.</p>
                        <p></p>
                    </div>
                </div>
                       
                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="{% url 'home' %}" method="POST">
                            {% csrf_token %}

                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                              </fieldset>
                            </div>

                            
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="email" type="email" class="form-control" id="Phone-number" placeholder="email">
                                </fieldset>
                              </div>


                                
                              <div class="col-lg-12">
                                <fieldset>
                                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Details" required=""></textarea>
                                </fieldset>
                              </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send</button>
                              </fieldset>
                            </div>
                            
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>

    <!-- ***** Contact Us End ***** -->
    <!-- ***** Counter Parallax Start ***** -->
    
    <!-- <section class="section" id="testimonials">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">What do they say?</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Donec tempus, sem non rutrum imperdiet, lectus orci fringilla nulla, at accumsan elit eros a turpis. Ut sagittis lectus libero.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="{% static 'website/images/testimonial-icon.png' %}" alt=""></i>
                            <p>Proin a neque nisi. Nam ipsum nisi, venenatis ut nulla quis, egestas scelerisque orci. Maecenas a finibus odio.</p>
                            <div class="user-image">
                                <img src="http://placehold.it/60x60" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Catherine Soft</h3>
                                <span>Managing Director</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="{% static 'website/images/testimonial-icon.png' %}" alt=""></i>
                            <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.</p>
                            <div class="user-image">
                                <img src="http://placehold.it/60x60" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Kelvin Wood</h3>
                                <span>Digital Marketer</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="{% static 'website/images/testimonial-icon.png' %}" alt=""></i>
                            <p>Quisque diam odio, maximus ac consectetur eu, auctor non lorem. Cras quis est non ante ultrices molestie. Ut vehicula et diam at aliquam.</p>
                            <div class="user-image">
                                <img src="http://placehold.it/60x60" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">David Martin</h3>
                                <span>Website Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                       </div>
        </div>
    </section> -->

    {% endblock %}