{% extends 'base.html' %}

{% load static %}

{% block contant %}


<section class="mini" id="work-process">
    <div class="mini-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="info">
                        <h1></h1>
                        <p></p>
                    </div>
                </div>
            </div>

           
            
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                    
                    <a method="" href="#pricing-plans" class="mini-box">
                        <i><img src="{% static 'website/images/pickup-truck.png' %}" alt=""></i>
                        <strong>Pick-up/Suv</strong>
                        <span>We will provide are workers with a vehical suited for small moving jobs, like Junk, Delivery and Donations.</span>
                    </a>
                
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                    
                    <a  href="#pricing-plans" class="mini-box" >
                        <i><img src="{% static 'website/images/trucks.png' %}" alt=""></i>
                        <strong>small U-Haul</strong>
                        <span>Are works will be ready to move as much as a 10-17ft U-Haul can handle</span>
                    </a>
                
                </div>
                <div class="col-lg-4 col-md-12 col-sm-6 col-6">
                    
                        
                    <a href="#pricing-plans" class="mini-box">
                        <i><img src="{% static 'website/images/truckl.png' %}" alt=""></i>
                        <strong>20-26ft U-Haul</strong>
                        <span>Ready to move out?Are vetted movers will handle this one to insure your things are in good hands.</span>
                    </a>
                
                    
                </div>
            </div>
        
        </div>
    </div>
</section>

{% endblock  %}