{% extends 'base.html' %}
{% load static %}

{% block contant %}



<section class=" mini" id="work-process">
    <div class="service-page mini-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="info">
                        <h1></h1>
                        <p></p>
                    </div>
                </div>
            </div>

           
            
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                    
                    <a method="" href="{% url 'house'%}" class="mini-box">
                        <i><img src="{% static 'website/images/home.png' %}" alt=""></i>
                        <strong>Home</strong>
                        <span>need help moving your home?</span>
                    </a>
                
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                    
                    <a  href="{% url 'Delivery'%}" class="mini-box" >
                        <i><img src="{% static 'website/images/tag.png' %}" alt=""></i>
                        <strong>Delivery</strong>
                        <span>we will assist you in your pick up!</span>
                    </a>
                
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                    
                        
                    <a href="{% url 'donation'%}" class="mini-box">
                        <i><img src="{% static 'website/images/donation.png' %}" alt=""></i>
                        <strong>Donations</strong>
                        <span>Things youd like to donate?Were on it!</span>
                    </a>
                
                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                    
                    <a href="{% url 'Storage'%}" class="mini-box">
                        <i><img src="{% static 'website/images/storage.png' %} " alt=""></i>
                        <strong>Storage</strong>
                        <span>Lets get your things out that storage!</span>
                    </a>
                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                    
                    <a href="{% url 'junk'%}" class="mini-box">
                        <i><img src="{% static 'website/images/broke.png' %}" alt=""></i>
                        <strong>Junk</strong>
                        <span>Any junk you got? Its owers now.</span>
                    </a>
                   
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                    
                    <a href="{% url 'craiglist'%}" class="mini-box">
                        <i><img src="{% static 'website/images/hand-shake.png' %}" alt=""></i>
                        <strong>Craiglist</strong>
                        <span>Buy or sell. With the conforts of your home.</span>
                    </a>
                   
                </div>
            </div>
        
        </div>
    </div>
</section>
{% endblock  %}